.search {
  [id="multilist"] {
    margin: 0;
    background: #0f0c29;
    position: absolute;
    left: 0;
    height: 400px;
    overflow-y: scroll;
    width: 100%;
    list-style: none;
    padding: 0;
    z-index: 1;
  }
  img {
    width: 50px;
    height: auto;
  }
  li a {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 10px;
    border-bottom: 1px solid#4d4b5a;
    padding: 8px 4px;
    img {
      grid-row: 1/2;
    }
    p {
      margin: 0;
    }
    p:nth-child(2) {
      align-self: flex-end;
    }
    p:last-child {
      grid-column: 2;
      opacity: 0.7;
    }
  }
}
