a h3 {
  color: hsl(245, 11%, 91%);
}
a {
  color: hsl(245, 11%, 91%);
}
.movie-page > article {
  background: linear-gradient(
    to right,
    rgba(36, 36, 62, 0.9),
    rgba(48, 43, 99, 0.8),
    rgba(15, 12, 41, 0.7)
  );
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  display: grid;
}
@media (min-width: 510px) {
  .description img {
    float: left;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}

.cast h2 {
  grid-column: 1/-1;
}
.cast h3,
.filmography h3 {
  margin: 0;
}
.filmography > button {
  grid-column: 2/-1;
}
img {
  width: 100%;
}
.backdrop {
  max-width: 1280px;
}

.img-autocomplete {
  max-width: 100px;
  max-height: 150px;
}
.search input {
  width: 100%;
  padding: 0.5rem;
}

dt {
  float: left;
  margin-right: 8px;
}
dd {
  margin-left: 0;
}
dt {
  font-weight: bold;
}
.cast dl,
.filmography dl {
  margin: 0;
}
.movie-age {
  margin: 0;
}
button {
  margin-bottom: 1em;
}
